
/* 
require("!style!css!bootstrap/dist/css/bootstrap.min.css");
require("!style!css!react-table/react-table.css"); 
*/




.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    flex-grow: 1;
    flex-shrink: 1;
    transition: all 400ms ease;
}
  

.dashboard-component-loading{
    margin-left:40%;
}

.dashboard-container-widget .card-body{
    min-height:218px;
}

.business-flow-card-container .card-body{
    min-height: 115px;
}
.alert-view-toggle{
    float:right;    
}


.text-muted {color: #979796!important;font-style: italic;}

.news-feed-list .btn {float: right; font-size: 0.75rem;text-transform: lowercase;}

.card {margin-bottom: 0.5rem; }

.card-title {margin-bottom:0;}

.card-header {padding-bottom: 0;}

.card-body .card span {font-size:.75rem;}

.card-footer {padding:0;background-color:transparent;}

.btn-group-sm>.btn, .btn-sm {color:#777;background-color:transparent;border-color:#ccc;margin-top:-12px;}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {color: #555555;background-color: #f0f3f5;border-color: #ccc;}

.dropdown-menu {color:#777;border-color:#ccc;min-width: 6rem;}

.dropdown-item {border-color:#ccc;color:#777;font-size: .75rem;padding: 7px 20px;}


