body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {background-color:#f3f3f3;}

.sidebar {background:#002050;}

.sidebar .nav-link.active {background:#000000;}

.business-process-flow-item.nav-item{
  /*text-transform: lowercase;*/
  white-space: nowrap;
  overflow-x: hidden
}

.business-process-flow-item.nav-item::first-letter {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

/* .sidebar .nav-link:hover { color:#3a96dd;} */

body {color:#777777;}
.row {margin:15px 0 0 15px;}
.card-header {background-color:#ffffff;border-bottom:none;color:#777777;font-size:1rem;}
.card {border:none;
-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);}
.card-body .card {box-shadow:none; background-color:#f2f2f2}
h5.card-title {font-size:0.8rem;}
.sidebar .nav-link:hover {color:#ffffff!important;}
.app-header .nav-item {font-size:1.4rem;border-right:solid 1px #d4d4d4;}
.app-header .navbar-nav {border-left:solid 1px #d4d4d4;}
.ml-auto navbar-nav {border:none;}
.ml-auto navbar-nav input {background-color:#c7e0f4;border-radius:0;border:solid 1px #3a96dd;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color:#777777;}
h3 {font-size:1rem;}

.card-body .card {border: solid 1px #f1f1f1;background-color: #fcfcfc;padding:10px;}
.badge-danger {background-color: #ff0006;    font-size: .75rem;}
.breadcrumb {background-color:#000000;}
.breadcrumb-item.active {color:#ffffff;}
.sidebar .nav-link:hover {background-color:#213b5e;}
.sidebar .nav-link.active .nav-icon {color:#ffffff;}
.app-footer {border-top:none;padding:0 1rem;font-size:0.7rem}
#exampleSearch {background-color: #c7e0f4;color: #666666;border: solid 1px #3a96dd;border-radius: 0;}

.card-body .card span{font-size:0.75rem;}

.card-footer{font-style:italic;border-top:none; border-bottom: none;}






body {font-family: SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;background-color:#e7e7e7;}
.header-fixed .app-body {margin-top:50px;}
.app-header{background-color:#000;border-bottom:none;height:50px;}
.app-header .nav-item {border:none;padding:0;margin:0;font-size:1.2rem;}
.app-header .navbar-nav {border:none;}
.app-header.navbar a.navbar-brand {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
}
.navbar-toggler{color:#fff}
/*.app-header.navbar::before {content:"Vantage Point EDI";color:#fff;font-size:1.4rem;margin-left:12px;}*/

.navbar-toggler {border-radius:0;line-height:30px;height:50px;width:50px;margin-left:15px;}
.navbar-nav .nav-link {color:#fff;line-height:55px;width:55px;margin:0 1px 0 0;}
.navbar-nav .nav-link:hover {background-color:#5b5b5b;color:#fff;height:50px;}
#exampleSearch {width:250px;margin:5px 25px 0 0;}
.icon-refresh {color:#fff;}
.pr-3,.px-3 {padding-right:0rem!important;padding-left:0rem!important;}
.breadcrumb {background-color:#2a70ac;position:fixed;width:100%;z-index:1000;}
.breadcrumb li, .breadcrumb li a, li.active.breadcrumb-item::before {color:#fff;font-size:.9rem;font-weight:700;}
.sidebar {background-color:#2d2d2d;}
.sidebar .nav-link, .sidebar .nav-link .nav-icon {color:#a2a2a2;font-size:.9rem;font-weight:700;}
.sidebar .nav-link:hover {background-color:#474747;}
.sidebar .nav-link.active {background-color:#818181;}
.main .container-fluid {padding:48px 1rem 0 1rem;}
.card {box-shadow:none;border:solid 1px #c1c1c1;border-radius:0;}
.card-header {color:#000;font-size:1.2rem;font-weight:200;}
.card-body {padding-bottom:0rem;}
.dashboard-container-widget .card-body {min-height:180px;}
.news-feed-list-item.card {margin-bottom:.75rem;}
.badge-info {background-color:#307BB5;color:#fff;}
.badge-pill {line-height:.8rem;font-size:.75rem;}
.btn-secondary {background-color:#fff;}
.app-footer {background-color:#e7e7e7;font-style:italic;}


@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}


h2 {color:#000;font-weight:200;font-size:1.6rem;padding-left:30px;min-height:25px;}
.business-flow-card-container .card {border:none!important;}
.business-flow-card-container .card-body {text-align:left;min-height:75px;padding:.5rem;border:solid 1px #c1c1c1;border-top:0;}
.business-flow-card-container .card-text{font-size:.80rem!important;line-height:1.1rem;color:#515151;}
.business-flow-card-container .card h5 {margin-bottom:0;border:solid 1px #c1c1c1;border-bottom:0;}
.business-flow-card-container .quote .card h5 {background-color:#afe5b2;}
.business-flow-card-container .purchase-order .card h5 {background-color:#0cc1a9;}
.business-flow-card-container .shipment---wms .card h5 {background-color:#008a00;}
.business-flow-card-container .shipment---pick-and-pack .card h5  {background-color:#00b0f0;}
.business-flow-card-container .invoice .card h5  {background-color:#126bf0;}
.business-flow-card-container .cash .card h5  {background-color:#253e8f;}
.business-flow-card-container .transformations .card h5  {background-color:#ec2954;}
.business-flow-card-container .inquiry .card h5  {background-color:#9e0b0f;}
.business-flow-card-container a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {color:#fff;}


.sidebar .nav-dropdown.open a.nav-dropdown-toggle  {background-color:#474747;}
ul li.nav-item ul.nav-dropdown-items li a {padding-left:40px;font-size:0.8rem;}

.carrier-view {
}
.carrier-view .header-actions >i {
    
}

.table-container{
    background: white;
}
.rt-td.action-menu{
    overflow: visible;
}
.action-menu .btn-toggle{
    border: none;
    font-size: 1.6rem;
    color: #307bb5;
    padding-top: 0;
    padding-bottom: 0;
    /* margin: 0; */
    line-height: 1rem;
    height: 25px;
}
.btn-toggle:hover, .btn-toggle:focus{
    background-color: transparent;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    outline: 5px auto -webkit-focus-ring-color;
}
.paging-panel{
    background: #ffffff;
    padding: 1rem 0;
    text-align: center;
}
.header-icons{
    position: fixed;
    right: 1rem;
    top: 4rem;
    z-index: 1000;
    color: #fff;
}
.header-icons .fa {
    margin-left: 0.75rem;
    font-size: 1.1rem;
    display: inline-block;
    cursor: pointer;
}
.content-panel{
    margin-top: 1rem;
}

.navbar-toggler {background-color:#00B7C3;margin-left:0;border-right:solid 1px #777777;}
.navbar-toggler:hover {background-color:#666666;}
.navbar-toggler span {font-size:1.4rem;line-height: 2.4rem;}
.navbar-nav .nav-link {margin:0;border-right:solid 1px #777777!important;}
.navbar-nav .nav-link:hover {background-color:#666666;}
.app-header.navbar .nav-item:first-child {border-left:solid 1px #777777;margin-left:1rem;}


rt-th.-sort-desc:after {
    content: '\25B2';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
  }
  
  rt-th.-sort-asc:after {
    content: '\25BC';
    font-size: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
  }