body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {background-color:#f3f3f3;}

.sidebar {background:#002050;}

.sidebar .nav-link.active {background:#000000;}

/* .sidebar .nav-link:hover { color:#3a96dd;} */

