body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {background-color:#f3f3f3;}

.sidebar {background:#002050;}

.sidebar .nav-link.active {background:#000000;}

.business-process-flow-item.nav-item{
  /*text-transform: lowercase;*/
  white-space: nowrap;
  overflow-x: hidden
}

.business-process-flow-item.nav-item::first-letter {
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 5px;
}

/* .sidebar .nav-link:hover { color:#3a96dd;} */

body {color:#777777;}
.row {margin:15px 0 0 15px;}
.card-header {background-color:#ffffff;border-bottom:none;color:#777777;font-size:1rem;}
.card {border:none;
-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);
-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);
box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.075);}
.card-body .card {box-shadow:none; background-color:#f2f2f2}
h5.card-title {font-size:0.8rem;}
.sidebar .nav-link:hover {color:#ffffff!important;}
.app-header .nav-item {font-size:1.4rem;border-right:solid 1px #d4d4d4;}
.app-header .navbar-nav {border-left:solid 1px #d4d4d4;}
.ml-auto navbar-nav {border:none;}
.ml-auto navbar-nav input {background-color:#c7e0f4;border-radius:0;border:solid 1px #3a96dd;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {color:#777777;}
h3 {font-size:1rem;}

.card-body .card {border: solid 1px #f1f1f1;background-color: #fcfcfc;padding:10px;}
.badge-danger {background-color: #ff0006;    font-size: .75rem;}
.breadcrumb {background-color:#000000;}
.breadcrumb-item.active {color:#ffffff;}
.sidebar .nav-link:hover {background-color:#213b5e;}
.sidebar .nav-link.active .nav-icon {color:#ffffff;}
.app-footer {border-top:none;padding:0 1rem;font-size:0.7rem}
#exampleSearch {background-color: #c7e0f4;color: #666666;border: solid 1px #3a96dd;border-radius: 0;}

.card-body .card span{font-size:0.75rem;}

.card-footer{font-style:italic;border-top:none; border-bottom: none;}






body {font-family: SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;background-color:#e7e7e7;}
.header-fixed .app-body {margin-top:50px;}
.app-header{background-color:#000;border-bottom:none;height:50px;}
.app-header .nav-item {border:none;padding:0;margin:0;font-size:1.2rem;}
.app-header .navbar-nav {border:none;}
.app-header.navbar a.navbar-brand {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
}
.navbar-toggler{color:#fff}
/*.app-header.navbar::before {content:"Vantage Point EDI";color:#fff;font-size:1.4rem;margin-left:12px;}*/

.navbar-toggler {border-radius:0;line-height:30px;height:50px;width:50px;margin-left:15px;}
.navbar-nav .nav-link {color:#fff;line-height:55px;width:55px;margin:0 1px 0 0;}
.navbar-nav .nav-link:hover {background-color:#5b5b5b;color:#fff;height:50px;}
#exampleSearch {width:250px;margin:5px 25px 0 0;}
.icon-refresh {color:#fff;}
.pr-3,.px-3 {padding-right:0rem!important;padding-left:0rem!important;}
.breadcrumb {background-color:#2a70ac;position:fixed;width:100%;z-index:1060;}
.breadcrumb li, .breadcrumb li a, li.active.breadcrumb-item::before {color:#fff;font-size:.9rem;font-weight:700;}
.sidebar {background-color:#2d2d2d;}
.sidebar .nav-link, .sidebar .nav-link .nav-icon {color:#a2a2a2;font-size:.9rem;font-weight:700;}
.sidebar .nav-link:hover {background-color:#474747;}
.sidebar .nav-link.active {background-color:#818181;}
.main .container-fluid {padding:48px 1rem 0 1rem;}
.card {box-shadow:none;border:solid 1px #c1c1c1;border-radius:0;}
.card-header {color:#000;font-size:1.2rem;font-weight:200;}
.card-body {padding-bottom:0rem;}
.dashboard-container-widget .card-body {min-height:180px;}
.news-feed-list-item.card {margin-bottom:.75rem;}
.badge-info {background-color:#307BB5;color:#fff;}
.badge-pill {line-height:.8rem;font-size:.75rem;}
.btn-secondary {background-color:#fff;}
.app-footer {background-color:#e7e7e7;font-style:italic;}


@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}


h2 {color:#000;font-weight:200;font-size:1.6rem;padding-left:30px;min-height:25px;}
.business-flow-card-container .card {border:none!important;}
.business-flow-card-container .card-body {text-align:left;min-height:75px;padding:.5rem;border:solid 1px #c1c1c1;border-top:0;}
.business-flow-card-container .card-text{font-size:.80rem!important;line-height:1.1rem;color:#515151;}
.business-flow-card-container .card h5 {margin-bottom:0;border:solid 1px #c1c1c1;border-bottom:0;}
.business-flow-card-container .quote .card h5 {background-color:#afe5b2;}
.business-flow-card-container .purchase-order .card h5 {background-color:#0cc1a9;}
.business-flow-card-container .shipment---wms .card h5 {background-color:#008a00;}
.business-flow-card-container .shipment---pick-and-pack .card h5  {background-color:#00b0f0;}
.business-flow-card-container .invoice .card h5  {background-color:#126bf0;}
.business-flow-card-container .cash .card h5  {background-color:#253e8f;}
.business-flow-card-container .transformations .card h5  {background-color:#ec2954;}
.business-flow-card-container .inquiry .card h5  {background-color:#9e0b0f;}
.business-flow-card-container a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {color:#fff;}


.sidebar .nav-dropdown.open a.nav-dropdown-toggle  {background-color:#474747;}
ul li.nav-item ul.nav-dropdown-items li a {padding-left:40px;font-size:0.8rem;}

.carrier-view {
}
.carrier-view .header-actions >i {
    
}

.table-container{
    background: white;
}
.rt-td.action-menu{
    overflow: visible;
}
.action-menu .btn-toggle{
    border: none;
    font-size: 1.6rem;
    color: #307bb5;
    padding-top: 0;
    padding-bottom: 0;
    /* margin: 0; */
    line-height: 1rem;
    height: 25px;
}
.btn-toggle:hover, .btn-toggle:focus{
    background-color: transparent;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    outline: 5px auto -webkit-focus-ring-color;
}
.paging-panel{
    background: #ffffff;
    padding: 1rem 0;
    text-align: center;
}
.header-icons{
    padding-bottom:.5rem;
    background-color: #ffffff;
    height:50px;
    margin:0 1px;
}
.header-icons .fa {
    margin-left: 0.75rem;
    font-size: 1.1rem;
    display: inline-block;
    cursor: pointer;
}
.content-panel{
    margin-top: 1rem;
}

.navbar-toggler {background-color:#00B7C3;margin-left:0;border-right:solid 1px #777777;}
.navbar-toggler:hover {background-color:#666666;}
.navbar-toggler span {font-size:1.4rem;line-height: 2.4rem;}
.navbar-nav .nav-link {margin:0;border-right:solid 1px #777777!important;}
.navbar-nav .nav-link:hover {background-color:#666666;}
.app-header.navbar .nav-item:first-child {border-left:solid 1px #777777;margin-left:1rem;}



.ReactTable .rt-thead .rt-td.-sort-asc, .ReactTable .rt-thead .rt-th.-sort-asc {box-shadow: inset 0 2px 0 0 #307bb5;}
.ReactTable .rt-thead .rt-th.-sort-desc, .ReactTable .rt-thead .rt-td.-sort-desc {box-shadow: inset 0 -2px 0 0 #307bb5;}
.ReactTable .rt-tbody .rt-td {border-right:0;}
.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {background-color:#deecf9;}
.rt-table {color:#000000;}
.ReactTable .rt-thead.-header {box-shadow:none;border-bottom:solid 1px #a6a6a6;}
.rt-resizable-header-content {text-align:left;line-height:1.4rem;color:#666666;}

/*  Buttons  */
.btn-container .btn, .header-btn .btn {border:none;border-radius:0;font-weight:600;font-size:.75rem;
    margin-top: 10px;
    margin-left: 10px;
    min-width: 105px;
    min-height: 30px;
    background-color: #deecf9;
    border: 1px solid transparent;
    padding: 0 10px;
    color: #333;
    -webkit-transition: background-color,border-color 50ms,linear ease-out 0s;
    -moz-transition: background-color,border-color 50ms,linear ease-out 0s;
    transition: background-color,border-color 50ms,linear ease-out 0s;}

.form-action-group.btn-group .btn-toggle.btn.btn-secondary {margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    background-color: #deecf9!important;
    border: 1px solid transparent;
    padding: 0 10px;
    outline:none;
    border-radius:0;
    margin-top:10px;}
.form-action-group.btn-group .btn-toggle.btn.btn-secondary:before {font-size:1.2rem;}
.form-action-group.btn-group .btn-toggle.btn.btn-secondary:hover {background-color: #c7e0f4!important;}
.btn-container .btn.btn-primary {background-color:#deecf9;border:solid 1px #307BB5;}
.btn-container .btn:hover, .header-btn .btn:hover  {background-color:#c7e0f4;color:#333333;}
.btn:focus, .btn:active,  .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .form-action-group.btn-group .btn-toggle.btn.btn-secondary:active, .form-action-group.btn-group .btn-toggle.btn.btn-secondary:focus {outline:1px dotted #ffffff;outline-offset: -2px;background-color: #307BB5!important;color: #ffffff!important;box-shadow:none!important; border:none!important;}
.btn-container .btn.btn-secondary {border:1px solid transparent;}
.header-icons .btn-secondary, .header-icons .btn.btn-primary:hover, .header-icons .btn.btn-secondary:hover, .header-icons .btn-secondary:not(:disabled):not(.disabled).active, .header-icons .btn-secondary:not(:disabled):not(.disabled):active, .header-icons .show>.btn-secondary.dropdown-toggle {color: #307BB5;font-weight:100;border:none;min-width:auto;}
.btn-group .btn-toggle.btn.btn-secondary {min-width:auto;background:transparent;margin:0;min-height:auto;padding-left:10px;padding-right:10px;}
.btn-secondary:hover, .show > .btn-secondary.dropdown-toggle {background-color:#f0f3f5;}
.btn-icon  {background-color:transparent;}
.btn-icon span, .form-action-group .btn-toggle span {font-family: SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:1rem;}
.header-icons .btn::before {padding-right:.5rem;}
.header-btn {float:right;min-width:200px;padding-right:1rem; text-align: right}
.btn-filter-pill.btn.btn-secondary {margin:0 .5rem 0 0;background-color:#deecf9;border-radius:0;font-size:1rem;padding:0 1rem;min-height:30px;}
.btn-filter-pill.btn.btn-secondary:hover {background-color:#c7e0f4;}
.header-icons span.filter-pills {min-height:31px;display:inline-block;}
.filter-pills {padding-left:1rem;padding-top:3px;color: #000000;font-weight:100;font-size:1rem;margin-top:.5rem;}
.filter-pills .btn-filter-pill.btn.btn-secondary {margin-top:-3px; padding-right: 3px;}
.filter-pills .fa-close{top: -10px;
    opacity: .7;
    font-size: .75rem;
    position: relative;
}
.filter-pills:hover .fa-close{opacity: 1;}

/*  End Buttons  */

span.badge.badge-secondary {
    padding: 1px;
    display:inline-block;
    background-color: #dc3545;
    color: #ffffff;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    height: 1rem;
    min-width: 1rem;
    text-align: center;
    line-height: .85rem;
    font-size: .75rem;
    position:absolute;
    margin:5px 0 0 -7px;
}

.dropdown-menu.show, .popover {-webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);}

.popover {min-width:285px;}
.popover-body {overflow: auto;max-height: 250px;margin-bottom: 60px;}
h3.popover-header {font-size:1.2rem;font-weight:100;color:#333333;}
.btn-container {bottom:0;background-color:#ffffff;padding:0;border-top:solid 1px #cccccc;height:60px;padding-right:10px;width: calc(100% - 30px);}
.filter-popover .btn-container {width: calc(100% - 40px);position:fixed;}
input.form-control, select.form-control {border-color:#333333;border-radius:0;margin:.25rem 0 .75rem 0;color:#666666;}

/* label & Checkbox fix 
label {display:block;}
input [type="checkbox"] {margin:0;}

*/

input.form-control:focus, select.form-control:focus {border:solid 1px #307bb5;outline:0;box-shadow: none;}

.table-container .rt-tbody {min-height:150px;}

.ReactTable .rt-noData {color:#000000;}

ul.navbar-nav {position:fixed;right: 0;}
.navbar-brand {position:fixed;left:50px;}
.brand-minimized:not(.sidebar-minimized) .navbar-brand  {position:fixed;left:102px;}
.login-name {width: 32px;height: 32px;border-radius: 50%; background-color: #307BB5; display: inline-block; line-height: 32px; font-weight: 100;font-size: 1rem;text-transform:uppercase;}

.numeric-value, .numeric-value .rt-resizable-header-content {text-align:right;}
.boolean-value, .boolean-value .rt-resizable-header-content {text-align:center;}
.boolean-content{color:#5eaf05;}

form{
    background-color: #ffffff;
    padding: 1rem;
}

/* media fix for main logo */

/* Minimum width */
@media (max-width:992px) {
    .app-header a.navbar-brand  {
     margin-left:-77.5px!important;
     position:absolute;
     left:50%;
}
}

/* max width */
@media (min-width:992px) {
    .brand-minimized .app-header .navbar-brand {width:155px;}
    .app-header a.navbar-brand  {
        margin-left:2rem!important;
        
    }
} 